:root {
    /* Color Palette One */
    --Pink: #f875aa;
    --Biscuit: #ffdfdf;
    --White-Accent: #fff6f6;
    --Light-Blue: #aedefc;
}
@font-face {
    font-family: "Signature";
    src: url("./DarlingtonDemo.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    min-height: 100%;
}
body::-webkit-scrollbar {
    display: none;
}
.Section-1-Landing {
    display: flex;
    flex-direction: column;
    background-color: var(--Pink);
}
.TopNavigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    color: var(--Pink);
    align-items: center;
    box-shadow: 0 3px 10px gray;
}
.NavName {
    font-family: Signature;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 15px 10px black;
}
.NavLinks {
    display: flex;
    gap: 10px;
    width: 10vw;
}
.NavLinks a {
    text-decoration: none;
    color: var(--White-Accent);
}
.NavLinks a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 3/2;
}
.Body-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20vh;
    padding-bottom: 10vh;
    gap: 10px;
}
.Section-1-Greeting {
    width: 100%;
    color: transparent;
    font-size: 100px;
    -webkit-text-stroke: 2px white;
    text-align: center;
    text-decoration: 10px underline dashed;
    text-underline-offset: 10px;
}
.Section-1-SubText{
    color: #fff;
    font-size: 50px;
    text-align: center;
}
.Section-1-Content{
    font-size: 30px;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .NavName {
        font-size: 4.5vw;
    }
    .NavLinks {
        gap: 0px;
        width: 20%;
    }
    .Body-Container {
        padding-top: 15vh;
    }
    .Section-1-Greeting {
        text-align: center;
        font-size: 60px;
    }
    .Section-1-SubText{
        font-size: 20px;
    }
}
