:root {
    /* Color Palette One */
    --Pink: #f875aa;
    --Biscuit: #ffdfdf;
    --White-Accent: #fff6f6;
    --Light-Blue: #aedefc;

    /* Color Palette Two */
    --DarkBlue: #0f044c;
    --Blue: #141e61;
    --Gray: #787a91;
    --Silver: #eeeeee;
}
@font-face {
    font-family: "Signature";
    src: url("./fonts/DarlingtonDemo.ttf") format("truetype");
}
@font-face {
    font-family: "Amsterdam";
    src: url("./fonts/Amsterdam.ttf") format("truetype");
}
@font-face {
    font-family: "Halimun";
    src: url("./fonts/Halimun.ttf") format("truetype");
}
@font-face {
    font-family: "HelloKetta";
    src: url("./fonts/HelloKetta.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
    display: none;
}
.Section-1-Landing {
    display: flex;
    flex-direction: column;
    background-color: var(--DarkBlue);
    position: relative;
}
.Arrow-Image {
    margin-top: 10px;
    width: 90%;
    position: relative;
}
#Covered-Image {
    position: absolute;
    background-color: var(--DarkBlue);
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: transform 2s ease-in-out;
}
.slide-out {
    transform: translateX(100%);
}
#arrow {
    display: flex;
    width: 100%;
    top: 10vh;
}
.TopNavigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: var(--Silver);
    color: var(--DarkBlue);
    align-items: center;
    box-shadow: 0 3px 10px black;
}
.NavName {
    font-family: Signature;
    font-size: 30px;
    font-weight: bold;
    color: var(--Blue);
    text-shadow: 0px 15px 10px black;
}
.NavLinks {
    display: flex;
    gap: 10px;
    width: 10vw;
}
.NavLinks a {
    text-decoration: none;
    color: var(--White-Accent);
}
.NavLinks a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 3/2;
}
.Body-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 10vh;
    gap: 10px;
}
.Section-1-Greeting {
    width: 100%;
    color: #fff;
    font-size: 130px;
    margin-top: 60px;
    font-family: HelloKetta;
    text-align: left;
    padding-left: 40px;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.Section-1-SubText {
    color: #fff;
    font-size: 50px;
    text-align: left;
    width: 100%;
    padding-left: 40px;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.Section-1-Content {
    font-size: 30px;
    color: #fff;
    text-align: left;
    width: 100%;
    padding-left: 40px;
    opacity: 0;
    transform: translateY(50px);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.Section-1-Greeting.slide-in,
.Section-1-SubText.slide-in,
.Section-1-Content.slide-in {
    opacity: 1;
    transform: translateY(0);
}

.Section-2 {
    display: flex;
    justify-content: center;
    gap: 60px;
    background-color: var(--Silver);
    padding: 10px;
    box-shadow: 0 1px 5px gray;
    position: sticky;
    top: 0;
}
.Section-2-Links {
    text-decoration: none;
    font-size: 20px;
    border-bottom: 1px solid var(--Silver);
    color: var(--Gray);
    transition: color 0.5s ease, border-bottom 0.5s ease;
}
.Section-2-Links.active,
.Section-2-Links:hover {
    border-bottom: 1px solid var(--Gray);
    color: var(--Blue);
    transition: color 0.5s ease, border-bottom 0.5s ease;
}
.Section-2.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Adjust the z-index as needed */
    background-color: var(--Silver);
    box-shadow: 0 1px 5px gray;
}
.Section-3 {
    display: flex;
    flex-direction: column;
    padding: 40px 100px;
}
.Section-3-Padding {
    padding-top: 50px;
}
.Section-Heading {
    font-family: HelloKetta;
    font-size: 60px;
    color: var(--Gray);
    font-weight: bold;
}
.Section-Content {
    display: flex;
    width: 100%;
    gap: 10px;
    padding-bottom: 40px;
    height: fit-content;
}
.Content-Text {
    width: 100%;
    order: 1;
    height: fit-content;
}
.Content-Image {
    display: flex;
    width: 500px;
    order: 2;
}
#Summary-Image {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.timeline {
    background: var(--primary-color);
    padding: 0 20px;
}

/* Outer Layer with the timeline border */
.outer {
    border-left: 3px dashed var(--Gray);
}

/* Card container */
.card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 10px;
    background: #333;
    color: gray;
    border-radius: 8px;
    max-width: 400px;
}

/* Information about the timeline */
.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Title of the card */
.title {
    font-weight: bold;
    color: var(--Gray);
    position: relative;
}

/* Timeline dot  */
.title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -39px;
    border: 3px solid var(--Blue);
}
.Content-Card {
    display: flex;
    justify-content: space-between;
    border: 2px var(--Blue);
    border-radius: 20px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.2);
}
.Card-Image {
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
}
.Card-Image img {
    width: 50%;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.Card-Details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
    background-color: var(--DarkBlue);
    color: #eeeeee;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}
.Card-Content-Heading {
    font-family: HelloKetta;
    font-size: 3em;
    font-weight: bold;
    line-height: 50px;
}
.Card-Content-Sub-Heading {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(225, 225, 225);
}
.Card-Content-Body {
}

@media only screen and (max-width: 768px) {
    .TopNavigation {
        padding: 10px 20px;
    }
    .NavName {
        font-size: 4.5vw;
    }
    .NavLinks {
        gap: 0px;
        width: 20%;
    }
    .Body-Container {
        padding-bottom: 5vh;
    }
    .Section-1-Greeting {
        font-size: 60px;
        margin-top: 20px;
    }
    .Section-1-SubText {
        font-size: 20px;
    }
    .Section-1-Content {
        font-size: 15px;
    }
    .Section-2 {
        gap: 10px;
    }
    .Section-2-Links {
        font-size: 15px;
    }
    .Section-3 {
        padding: 10px 50px;
    }
    .Section-3-Padding {
        padding-top: 55px;
    }
    .Section-Content {
        flex-direction: column;
        gap: 20px;
    }
    .Content-Text {
        width: 100%;
        order: 2;
    }
    .Content-Image {
        width: 100%;
        order: 1;
    }
    .Content-Card {
        flex-direction: column;
        border-radius: 20px;
    }
    .Card-Image {
        width: 100%;
        padding: 30px;
    }
    .Card-Image img {
        width: 50%;
        aspect-ratio: 3/2;
        object-fit: contain;
    }
    .Card-Details {
        width: 100%;
        padding: 20px;
        background-color: var(--DarkBlue);
        color: #eeeeee;
        border-top-right-radius: 0;
        border-bottom-left-radius: 18px;
    }
    .Card-Content-Heading {
        font-size: 2em;
    }
    .Card-Content-Sub-Heading {
        font-size: 1.25em;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .Content-Image img {
        width: 50%; /* Adjust the size of the image in landscape view */
    }
    .Card-Image {
        width: 100%;
        align-items: center;
        padding: 30px;
    }
    .Card-Image img {
        width: 20%;
        aspect-ratio: 3/2;
        object-fit: contain;
    }
    .Card-Content-Heading {
        font-size: 2.5em;
    }
    .Card-Details{
        padding: 35px;
    }
}
